@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.cdnfonts.com/css/roslindale?styles=147542');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
@media (max-width: 800px) {
  .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
  }

  .description h1 {
      font-size: 2em;
  }

  .description p {
      font-size: 1.2rem;
  }

  .features {
      margin: 0;
  }

  .contact-inputs{
    width: 80vw;
  }

  .contact-right{
    display: none;
  }
  .vision{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
  .vision .VisionContainer{
    flex-direction: column;
    padding: 5%;
    
  }
  .VisionContainer .VisionContent{
    width: 100%;
  }
  .vision .VisionContainer .visionImage{
    width: 100%;
    order: -1;
  }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    margin-left: 250px;
}

.logo{
    background-color: white;
}
/*  */
/* RESET */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  font-family: 'Inter', sans-serif;
  /* min-height: 500vh; */
}

/* NORMAL STYLES */
.header {
  z-index: 10;
  top:0;
  position: fixed;
  width: 100%;
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
  background-color: #fff;
}

.bottom-bar__content {
  min-height: 60px;
  /* max-width: 1200px; */
  padding: 0 30px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  border-bottom:  1px solid;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__img {
  height: 40px;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav {
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  margin-bottom: 0.6rem;
}

.nav__link {
  color: #000000;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: orange;
}

.Navbtn {
  margin-top: 12px;
  color: #000000;
  background-color: #ff7a2d;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

/* .Navbtn:hover {
  background-color:  rgb(28, 128, 228);
} */
.Navbtn:hover {
  background-color: rgb(241, 160, 10);
  color: #fff;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #ff7a2d;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
    color: #fff;
  }

  .Navbtn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}
/*  */
.navbar{
    display: flex;
    height: 60px;
    font-family: "Poppins", sans-serif;
    color:white;
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.navbar li{

    float: left;
}

.nav-link {
    color: #000;
    cursor: pointer;
}

.nav-link-footer {
  color: white;
  cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: orange;
}


/* li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 15px 15px;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
  }

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: #f07c1e;
    border-radius: 10px 10px 10px 10px;
} */

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.section1{
    height: 100vh;
}

.section2{
  margin-top: 10px;
  height: 35vh;
  background: linear-gradient(270deg, #ffffff, #f4bea3);

}

.AboutUsSection1{
  height: 90vh;
  background-color: #d1d0d0e6;
  font-family: 'Roboto',sans-serif;
}
.MoreSection5{
  height: 80vh;
  background-color: #4caf50;
}
.section4{
  height: 100vh;

}

.hader1 {
  background-image: url('Images/computer-8598079_1280.jpg') ;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-image {
    background: url() no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #ffffff;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .whitefont{
    color: white;
  }

  .orangefont{
    color: #f07c1e;
  }

  /* .logo {
    background: url(Images/logo.JPG) no-repeat left;
    background-size: 300px 300px;
    height: 100px;
    position: relative;

  } */
/*
  .contact-image {
    background: url(Images/logo.JPG) no-repeat left;
    background-size: 300px 300px;
    height: 100px;
    position: relative;
    width: 500px;

  } */

  .main{
    color: black;
  }

  .features {
    /* margin: 2em auto;
    padding: 1em;
    position: relative;
    margin-top: 45px; */
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

  .mediclaim {
    background: url(Images/doctor-5548558_640.png) no-repeat left;
    background-size: 300px 300px;
    height: 250px;
    position: relative;
    margin-left: 100px;
  }

  .b2b {
    background: url(Images/social-media-3846597_640.png) no-repeat left;
    background-size: 300px 300px;
    height: 250px;
    position: relative;
    margin-left: 100px;
  }

  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.contact-body{
  font-family:  "Poppins", sans-serif;
  background: linear-gradient(#d5f4ff,#f7fcff);
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: #09579f;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #09579f;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;

}

.contact-inputs:focus{
  border: 2px solid #09579f;
}

.contact-inputs::placeholder{
  color: #a9a9a9 ;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #d5f4ff, #09579f ) ;
  cursor: pointer;
}

.AboutUsHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
  padding-top: 10px;
}
.AboutUsHeading h1 {
  font-size: 40px;
  color: #2e2728;
  margin-bottom: 20px;
  position: relative;
}

.AboutUsHeading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #4caf50;
}
.AboutUsDetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px 20px;
  margin: 30px;

}
.AboutImage{
  flex: 1;
  margin-right:20px;
  overflow: hidden;
  margin-left: 30px;
}
.AboutImage img{
  max-width: 100%;
  display: block;
  transition: 0.5s ease;
}
.AboutImage img:hover{
  transform: scale(1.1);
}
.AboutContent{
  flex: 1;
}
.AboutContent h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.AboutContent p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.AboutContent .readMore{
  display: inline-block;
  padding: 5px 10px;
  /* background-color: #ed5454e6; */
  background: linear-gradient(270deg, #f30017, #e6885c);
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
  margin-bottom: 10px;
}
.AboutContent .readMore:hover{
  /* background-color: #4caf50; */
  background: linear-gradient(270deg, #441216, #e3652a);
}
.ContactUs{
  display: inline-block;
  padding: 5px 12px;
  /* background-color: #ed5454e6; */
  background: linear-gradient(270deg, #dac817, #e6885c);
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin: 10%;
  transition: 0.3s ease;
}
.ContactUs:hover{
  /* background-color: #4caf50; */
  background: linear-gradient(270deg, #441216, #e3652a);
}
 .vision{
  background-color: #fcfcfc;
  overflow: hidden;

  /* margin: 2%; */
  margin-top: 25px;
}
.VisionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 65px auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
}
.VisionContent{
  flex: 1;
  width: 600px;
  margin: 0px 25px;
}
.VisionContent h2{
  font-size: 2.625rem;
  /* font-family: Apple Chancery, cursive ; */
  /* text-decoration: underline; */
  font-size: 25px;
  margin-bottom: 20px;
  margin-top:5px

}
.VisionContent p{
  font-size: 16px;
  line-height: 1;
  margin-bottom: 25px;

}
.visionImage{
  flex: 1;
  width: 600px;
  margin: auto;
}
.visionImage img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/*
.visionDiv{
  font-size: 1.5rem;
}
.VisionSectiondiv{
  display: flex;
}
.visionImage img{
  max-width: 100%;
  display: block;
  margin-right: 5%;
} */
@media screen and (max-width: 768px) {
  .AboutUsHeading {
      padding: 0 10px;
  }
  .AboutUsHeading h1{
    font-size: 36px;
  }
  .AboutUsHeading p{
    font-size: 15px;
    margin-bottom: 0px;
  }
  .AboutUsDetails{
    padding: 10px;
    flex-direction: column;
    margin: 10px;
  }
  .AboutImage{
    margin-bottom: 10px;
  }
  .AboutContent p{
    padding: 0px;
    font-size: 13px;
    text-align: left;
  }
  .AboutContent .readMore{
    padding: 0px;
    font-size: 12px;
  }
  .section2{
    height: 100%;
  }
  .contact-left-title{
    display: none;
  }

}
.counter-Up .counterTitle{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  font-weight: 600;
  font-family: cursive;
  font-size: 30px;

}
.counter-Up{
  background: url("Images/count-Background.png") no-repeat;
  min-height: 45vh;
  align-items: center;
  /* display: flex; */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.counter-Up::before{
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
}
.counter-Up .content{
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.content .box{
  width: calc(25% - 30px);
  border: 2px dashed rgba(255,255,255,255);
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #301c06;
  border-radius: 5px;
}
.features .icon{
  font-size: 45px;
  color: #666;
  font-weight: 500;
  font-family: sans-serif;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f65828;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f65828;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.content .box .icon{
  font-size: 45px;
  color: #666;
  font-weight: 500;
  font-family: sans-serif;
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #934f4f;
  font-family: sans-serif;
}
.content .box .text{
  color: #080303;
  font-weight: 400;
}

@media (max-width: 1036px){
  /* .counter-Up{
    padding: 50px 50px 0px 50px;
  } */
  .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
  /* delete later */
  .reviewSection .reviewbox-container{
    flex-wrap: wrap;
  }
}
@media (max-width: 580px){

  .content .box{
    width: 100%;
    margin-bottom: 50px;
  }
}

.WeHandle{
  height: 50vh;
  background-color: #57f9d0;
}
.reviewSection{
  background: url(review\ background1.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  padding-left: 15px;
  padding-right: 15px;
}

.reviewSection .reviewbox-container{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding-bottom: 3rem;
}
.reviewSection .reviewbox-container .reviewbox{
  background: #f0d6cf;
  width: 30rem;
  margin: 4rem 1rem;
  padding: 1.5rem;
  position: relative;
  border-radius: 10%;
  box-shadow: 10px 5px 30px rgba(0,0,0,0.2);
}
.reviewSection .reviewbox-container .reviewbox img{
  position: absolute;
  bottom: -6rem;
  height: 5 rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.reviewSection .reviewbox-container .reviewbox p{
  font-size: 1.3rem;
  color: #322c2c;
}
.reviewSection .reviewbox-container .reviewbox h3{
  text-align: end;
  color: #5655b4de;
}
.reviewSection .reviewbox-container .reviewbox span{
  text-align: end;
  display: block;
  font-size: 1.5rem;
  color: #bd4141;
}
.reviewSection .reviewbox-container .reviewbox::before{
  content: '';
  position: absolute;
  bottom: -1rem;  left: 4rem;
  height: 2rem;
  width: 2rem;
  background: #f0d6cf;
  transform: rotate(45deg);
}
.reviewheading{
  text-align: center;
  font-size: 40px;
   padding: 1rem;
  padding-top: 2rem;
  color: #080303;
}
.reviewheading span{
  color: #3a44c9de;
}

/* servies */
section.AllServicesSection {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.Services{
   /* width: 85%;
  display: flex;
  justify-content: center;
  margin: 75px auto;
  text-align: center;
  padding-top:30px;  */
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 1fr;
  grid-auto-columns: minmax(0, 1fr);
  width: 85%;
  display: grid;
  margin: 50px 80px;
}
.cardService{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 22px;
}
.cardService .IconService{
  font-size: 55px;
  margin-bottom: 10px;
  color: #d71597;

}
.cardService h2{
  font-size: 22px;
  color: #000;
  margin: 20px;
  margin-top: 5px;

}
.cardService p{

  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.cardService:hover{
  background-color: #f7ece8;
  transition: 0.4s ease;
}
.Servicesbutton{
  font-size: 15px;
  text-decoration: none;
  background-color: #ff8a09;
  padding: 8px 12px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.Servicesbutton:hover{
  background-color: #eec89e;
  transition: 0.4s ease;
}
@media screen and (max-width: 940px){
  .Services{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .cardService{
    width: 85%;
    display: flex;
    margin: 20px auto;
    padding:20px;
  }
}
.headerGap{
  margin-top: 88px;
}  
/* .AllServicesSection{
  justify-content: center;
  align-items: center;
}

.cardService img{
  height: 500px;
  width: 350px;
}
.containerService{
  display: flex;
} */
.ctm-col-md-12{
  text-align: center;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.massTortInfo{
  padding: 5px 40px;
}
.massTortInfo h3{
  border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, #f86c00, #f86c00, transparent) 1;
    font-size: 24px;
    /* line-height: 31px; */
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: serif, sans-serif;
    font-weight: 550;
}
.massTortInfo p{
  font-family: Georgia, Arial, Helvetica, sans-serif;
  text-align: justify;
}

.MassTortCover{
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(Images/MassTortCover1.jpg);
  overflow: hidden;
}
.MassTortCover:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 67%, rgba(255, 255, 255, .1) 72%, rgba(255, 255, 255, .1) 75%, rgba(255, 255, 255, 1) 101%) repeat scroll 0 0;
}
.MassTortTitle h1{
  font-family: Nunito Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}
.MassTortTitle p{
  font-size: 46.4px;
    color: #FFF;
    margin-bottom: 25px;
}
.desc{
  line-height: 29px;
  font-size: 20px;
  color: #FFF;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 940px) {
  .desc {
    line-height: 22.4px;
    font-size: 16px;
    margin-bottom: 40px;
    width: 100%;
  }
 .MassTortCover .ctm-col-md-12{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 110px;
 }
 .MassTortTitle p{
  font-size: 25px;
  width: 100%;
  text-align: center;
 }
 .MassTortCover{
  margin-top: 00px;
 }
 .massTortInfo h3{
  font-size: 20px;
  padding-left: 0px;
 }
 .massTortInfo p{
  font-size: 15px;
 }
}



/* .reviewbox{
  display: flex;

} */
.FAQSection h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #f86c00, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}